<head>
  <link rel="stylesheet" href="/stylesheets/footer.css" />
</head>
<div class="footer">
  <div class="footer__header">clothing store</div>
  <div class="footer-container">
    <div><a href="/home">Home</a></div>
    <div class="footer-container__logo">
      <div>
        <a href=""><img class="social-media__icons" src="/assets/fb.png" alt="FB" /></a>
      </div>
      <div>
        <a href=""><img class="social-media__icons" src="/assets/twitter.png" alt="FB" /></a>
      </div>
      <div>
        <a href=""><img class="social-media__icons" src="/assets/instagram.png" alt="Instagram" /></a>
      </div>
    </div>
    <div><a href="">Shipping & Returns </a></div>
    <div><a href="/shop">Shop</a></div>
    <div><a href=""> Store Policy</a></div>
    <div><a href="/story">Story</a></div>
    <div><a href=""> Payment Methods </a></div>
    <div><a href="/contact">Contact</a></div>

    <div><a href="">FAQ</a></div>
  </div>
  <div class="mail-list">Join our mailing list</div>
  <form class="mail-list__form" action="">
    <input class="mail-list__form__input" type="text" name="email" id="email" />
    <button class="mail-list__form__button" type="submit">Subscribe Now</button>
  </form>
</div>
