<head>
  <link rel="stylesheet" href="/stylesheets/home.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Roboto&display=swap" rel="stylesheet" />
</head>
<header class="header">
  <div class="ad__banner"></div>
  <div class="heading">
    <h1>clothing store</h1>
  </div>
  <nav class="navbar">
    <ul class="navbar__elements">
      <li>
        <a class="nav__links" href="/home">Home</a>
      </li>
      <li>
        <a class="nav__links" href="/shop">Shop</a>
      </li>
      <li>
        <a class="nav__links" href="/story">Our Story</a>
      </li>
      <li>
        <a class="nav__links" href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
