<head>
  <link rel="stylesheet" href="/stylesheets/home.css" type="text/css" />
</head>
<div class="ad__banner">
  <h2>Animated Text</h2>
</div>
<div class="heading">
  <h1>Clothing Store</h1>
</div>
<nav class="navbar">
  <ul class="navbar__elements">
    <li>
      <a class="nav__links" href="/home">Home</a>
    </li>
    <li>
      <a class="nav__links" href="/shop">Shop</a>
    </li>
    <li>
      <a class="nav__links" href="/story">Story</a>
    </li>
    <li>
      <a class="nav__links" href="/contact">Contact</a>
    </li>
  </ul>
</nav>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut ratione ducimus similique eos tempore dolores, distinctio sit iusto quo tenetur nemo rerum placeat est. Sequi accusantium eos
  exercitationem in.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut ratione ducimus similique eos tempore dolores, distinctio sit iusto quo tenetur nemo rerum placeat est. Sequi accusantium eos
  exercitationem in.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut ratione ducimus similique eos tempore dolores, distinctio sit iusto quo tenetur nemo rerum placeat est. Sequi accusantium eos
  exercitationem in.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut ratione ducimus similique eos tempore dolores, distinctio sit iusto quo tenetur nemo rerum placeat est. Sequi accusantium eos
  exercitationem in.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut ratione ducimus similique eos tempore dolores, distinctio sit iusto quo tenetur nemo rerum placeat est. Sequi accusantium eos
  exercitationem in.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut ratione ducimus similique eos tempore dolores, distinctio sit iusto quo tenetur nemo rerum placeat est. Sequi accusantium eos
  exercitationem in.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut ratione ducimus similique eos tempore dolores, distinctio sit iusto quo tenetur nemo rerum placeat est. Sequi accusantium eos
  exercitationem in.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut ratione ducimus similique eos tempore dolores, distinctio sit iusto quo tenetur nemo rerum placeat est. Sequi accusantium eos
  exercitationem in.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut ratione ducimus similique eos tempore dolores, distinctio sit iusto quo tenetur nemo rerum placeat est. Sequi accusantium eos
  exercitationem in.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aut ratione ducimus similique eos tempore dolores, distinctio sit iusto quo tenetur nemo rerum placeat est. Sequi accusantium eos
  exercitationem in
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti corporis ullam sed rerum quia odit tempore assumenda adipisci, ea, fuga autem impedit officiis laudantium nihil expedita facere
  eaque quas consectetur et. Molestiae vel harum itaque consectetur, aliquid maxime hic mollitia eaque velit reiciendis aut veritatis. Praesentium obcaecati maiores velit quisquam, cum molestiae
  repudiandae quas impedit enim inventore dolore quos expedita libero et numquam, odio, voluptas placeat at asperiores est repellendus sequi esse delectus! Corrupti sit facilis vel quis rerum nostrum
  id, delectus nobis voluptatibus, est officiis excepturi ipsam ducimus illo voluptatum modi in mollitia quisquam. Nostrum odit eos repudiandae, tempore numquam repellendus. Officia rerum sit quos,
  soluta quibusdam vel aliquam explicabo incidunt hic perspiciatis saepe quisquam odio dolorem vitae eos in repellendus quaerat maxime, praesentium animi doloremque natus. Voluptate voluptas ad quam
  voluptatum aspernatur ex expedita provident cum harum illum, ut sunt nemo tempore dolore iste accusamus asperiores, quae sapiente reprehenderit vel, blanditiis praesentium nostrum. Ex voluptatum
  explicabo, a blanditiis modi quaerat rerum cupiditate nemo nulla dicta provident fugit deleniti facilis temporibus? Et, non libero? Quidem ratione in assumenda, est deserunt velit dolorem laudantium
  ipsum asperiores saepe sunt cupiditate esse, magnam voluptatum rem culpa at itaque id dicta repellat earum. Doloribus repudiandae magni dolorum commodi vitae possimus ipsam dolorem, qui tempore
  saepe assumenda, sunt ipsum! Perferendis, voluptatibus. Sapiente hic tempore harum, deleniti accusamus dolorum? Laboriosam culpa repellat voluptatum aliquid at quibusdam neque sunt obcaecati
  laborum. Nemo, inventore, vel qui dolorum veritatis doloremque molestiae mollitia at debitis vitae error ipsam magnam neque obcaecati exercitationem nihil doloribus quo maiores cupiditate aliquam
  facere repellat! Sequi laborum dolore sed omnis placeat dicta libero fuga eos enim nemo. Fuga, placeat cum odit quo aliquid possimus vero soluta nobis maiores eius eveniet quia nesciunt accusamus
  doloribus similique nesciunt quos voluptatum quisquam ad laboriosam distinctio dolorem. Voluptatum eius quisquam cupiditate! Repellat provident labore libero officiis fugit, corrupti sint
  praesentium similique numquam omnis deserunt? Impedit, vero deleniti fugiat et voluptate recusandae consequuntur. Molestiae labore dolorem aut dicta sequi, sint reprehenderit facilis inventore
  dolore voluptatibus aspernatur rem iusto vitae modi non magni reiciendis praesentium est tenetur eos deserunt amet quidem? Exercitationem in voluptates autem sapiente id quasi inventore, praesentium
  aliquid illum fuga qui corrupti expedita perspiciatis quam fugit quis optio officiis dignissimos commodi et. Unde consectetur adipisci ea illo esse in est, expedita fuga corporis, tempore
  cupiditate, animi veniam provident deleniti velit molestiae. Nam minus non expedita! Asperiores, perferendis quibusdam quasi impedit harum illum nulla ab corrupti magnam id laboriosam quae
  accusantium quidem debitis mollitia molestiae, vitae ad culpa fugit saepe ipsam minima consectetur, optio sed. Quae earum eius beatae rerum aspernatur dolorem mollitia quas labore ipsam tempora
  minus obcs eligendi facilis assumenda inventore officia laboriosam error nihil? Necessitatibus libero, dolores corrupti minima nesciunt magni veritatis quisquam odit, optio cumque id modi? Eum
  dolores ducimus mollitia magni adipisci sint optio sequi minus placeat accusantium? Velit inventore aliquid, sequi ex est eius quo quod maiores repellat fuga eligendi possimus beatae officiis
  repellendus debitis dolore magni dolor id suscipit deleniti, voluptatibus autem omnis optio. Totam earum veritatis fugiat officia error quae at id, obcaecati omnis, dolore cumque eaque. Consequuntur
  perspiciatis, cupiditate libero neque quis saepe excepturi error eaque atque nesciunt explicabo possimus? Quis assumenda, quos earum deleniti natus libero eaque exercitationem deserunt voluptatibus
  impedit debitis nihil fuga facere magni autem dignissimos ad dolorem quod voluptas nostrum vel, aspernatur expedita id hic! Neque autem itaque minima eum natus unde animi, a in doloremque saepe,
  placeat vel quis asperiores! Unde, maiores amet aliquid molestiae nostrum hic commodi omnis, harum eum architecto adipisci. Suscipit recusandae, inventore laboriosam dicta dolore, ullam accusantium
  quisquam illum magnam sed, aspernatur itaque ad! Quis quidem aliquid laborum inventore id quo est delectus ullam sapiente provident quos molestias facilis velit beatae voluptate voluptatum nostrum
  aperiam voluptatem praesentium, similique aspernatur. Aperiam est praesentium quia expedita voluptatum cupiditate repudiandae odio quis nostrum pariatur! Ipsam alias quibusdam sint, necessitatibus
  nostrum ipsa dignissimos aliquam libero excepturi dicta fugiat, accusantium consequuntur magnam recusandae ullam harum perferendis corrupti numquam dolorem esse, nisi ab. Animi obcaecati veniam fuga
  nobis, voluptatem nemo consequuntur quasi magni corporis maiores illum minima, ipsum officia impedit provident, ab aliquam minus facere numquam? Non, adipisci dolore. Quisquam nemo asperiores id
  magnam ipsa possimus ex. Dicta, sequi commodi dolor quo hic placeat, molestiae incidunt natus, officia fuga distinctio. Nobis reiciendis, totam nam aut id error, voluptatum facere fugit, officia
  dicta sed nemo perferendis. Soluta doloremque qui quasi, placeat in doloribus officiis, sunt sit nobis tenetur, tempore pariatur incidunt sapiente iste. Adipisci modi voluptatem assumenda amet sequi
  saepe, in sapiente officiis aliquam nulla tenetur fugiat architecto eligendi consequatur, qui dignissimos quae aspernatur vitae vero fuga? Laudantium nesciunt ipsum vel dolorum, debitis, magni
  quidem assumenda laborum quis accusantium aliquid omnis, dolores sapiente ut temporibus pariatur cupiditate esse ratione? Vitae, dignissimos! Praesentium harum maiores rerum aut nostrum repudiandae
  molestiae, quas adipisci assumenda quasi esse itaque doloremque quod odit nesciunt commodi distinctio cupiditate eius, laboriosam accusamus. Ullam sapiente, autem voluptate quo unde nulla quidem aut
  doloremque distinctio quibusdam vel dolorum harum ducimus! Aspernatur non amet consequuntur laboriosam dicta numquam est qui distinctio optio soluta dolor illo necessitatibus excepturi sequi saepe
  sed quod id, rerum, similique ad eos odit eligendi quam. Maiores minima tempora aperiam accusantium perspiciatis, veritatis est neque perferendis pariatur officiis ipsam a nesciunt officia ex
  molestias repellendus quod dolorem iusto expedita sint recusandae labore enim? Animi sit mollitia ut ea facilis illum aspernatur minus! Corrupti voluptatibus ex suscipit id labore in molestias,
  ipsam, fugiat quidem impedit neque laudantium provident odio perspiciatis explicabo unde quasi voluptatum cupiditate perferendis sed. Harum dicta qui accusantium dolores fugiat adipisci dolor a,
  vitae ad facilis, omnis molestiae deserunt earum voluptas doloribus est blanditiis nisi, ea libero neque. Cupiditate nobis tempore sint impedit nulla maxime consequatur, commodi voluptatem dicta
  nesciunt fugit, repellat, ipsa vero labore alias similique itaque deleniti ex veniam non voluptatum consectetur? Quis delectus recusandae saepe, dignissimos obcaecati similique? Voluptate laboriosam
  modi quos quam harum perspiciatis natus unde nisi corrupti ut! Sit non minima est ipsa sapiente maxime dolores, ducimus, aliquam cum quaerat enim iste debitis. Fugit maiores, eos voluptatum
  consequatur alias eum neque est beatae in, saepe officiis magnam debitis facere vitae iure id quam reprehenderit impedit illo ut. Nam amet recusandae autem praesentium, quia odio nesciunt doloribus
  temporibus quidem eligendi labore repudiandae porro magnam error iure. Iste non unde cupiditate sint excepturi numquam sunt perferendis facilis incidunt eaque officia ipsum dolorem, autem voluptatum
  enim. Dolores quas corporis sequi? Itaque culpa et iusto fugiat vero. At, animi quae, eius labore qui rerum molestiae provident sint ducimus facere hic unde natus mollitia corrupti, necessitatibus
  dolore dignissimos? Accusamus et dolore dicta deserunt suscipit expedita? Quos, nostrum earum nisi aspernatur magnam perspiciatis omnis vitae adipisci laboriosam itaque veniam maiores, repudiandae
  exercitationem reprehenderit doloremque repellendus. Minima praesentium exercitationem esse consequatur consequuntur dolores officia aliquam voluptatum dicta, nam, explicabo mollitia blanditiis,
  quam harum. Optio ullam doloremque laboriosam officia! Quibusdam quis adipisci laudantium illum porro. Quaerat iure placeat nam saepe ipsa sint animi eaque necessitatibus nulla commodi corrupti,
  minima corporis dolore, error porro velit alias cumque enim tempore magni officia. Provident veniam nihil, possimus consequuntur libero doloremque error recusandae inventore enim magni excepturi
  optio ipsam. Modi, optio unde sunt delectus enim tempore quae quidem amet, non porro facilis exercitationem laudantium mollitia deleniti officiis. Inventore animi fugit earum sequi, ea tempora eos
  atque fugiat aliquam aperiam ipsa commodi eligendi illo mollitia! Maiores ut deleniti et autem sit magnam cumque accusamus! Sunt repellendus dolorem fugit, a expedita vitae tempore! Culpa assumenda
  aspernatur vero. Est reprehenderit perferendis laborum corrupti earum modi quia suscipit ea deserunt harum temporibus, asperiores, fugit repellat natus. Ex vero provident voluptatem quae esse
  debitis vitae possimus unde, distinctio dignissimos quisquam veritatis, quod velit corrupti. Quis molestiae delectus beatae ipsum atque quas quisquam sapiente, officia enim debitis cupiditate, non
  fugiat nobis quaerat consequatur mollitia impedit veritatis dolor natus tenetur dolore. Totam laborum aperiam quo nisi. Facilis similique ex voluptatum beatae inventore pariatur ipsum tempore,
  repudiandae ratione? Distinctio modi quas mollitia exercitationem explicabo quisquam enim ut quibusdam ex impedit laudantium asperiores incidunt consectetur voluptatem placeat, totam aspernatur
  doloremque ipsam, nostrum tempore debitis officiis sapiente? Cumque magnam voluptatum pariatur quo maxime, inventore quas, alias nisi atque laborum, nihil iure delectus fugiat itaque placeat facilis
  dolor! Voluptatum nobis, illo molestiae placeat ipsa saepe quis at itaque ad vel, recusandae labore doloremque, adipisci iusto similique corrupti veniam. Provident optio quas illum obcaecati labore
  amet reprehenderit aperiam error enim ad sint maxime nihil non vitae dolor ipsum, quia ratione eius deserunt temporibus adipisci rerum architecto ipsa laborum! Nihil quam aut ipsum non amet.
  Assumenda, blanditiis! Soluta eaque fugit repellendus placeat iusto. In rem ea earum reprehenderit rerum obcaecati vitae beatae. Quod tempore distinctio quaerat sit omnis, blanditiis eaque,
  architecto optio unde reprehenderit soluta sequi libero voluptas minima ducimus et hic corporis enim atque. Adipisci incidunt libero dicta. Blanditiis nesciunt iste itaque reprehenderit aliquam
  officia ad labore eos! Corrupti ut repellat veritatis labore harum esse incidunt iste consectetur optio ducimus? Delectus veritatis beatae illo unde, harum dicta voluptas maxime, voluptate
  exercitationem rem, est numquam quis earum. Consequuntur quasi voluptatibus suscipit, nesciunt animi provident, dicta tempore numquam doloribus atque dolor? Excepturi tempora perferendis illo
  molestiae saepe nihil vitae enim? Rerum voluptas praesentium impedit labore tempora et perspiciatis recusandae facere ipsum, dolorum illum assumenda enim quisquam tempore omnis illo fuga dignissimos
  cupiditate minima eius? Corporis eaque laborum atque beatae totam laudantium non accusantium, in voluptatibus, porro officiis illum optio aspernatur architecto repellendus explicabo? Corrupti facere
  maxime suscipit velit temporibus esse. Perspiciatis ipsa iste distinctio recusandae, quas, quo optio incidunt saepe unde dolor ad accusantium tempore. Suscipit dolore esse quia, nesciunt ex
  provident distinctio voluptates vero. Quaerat, similique.
</p>
