<head>
  <link rel="stylesheet" href="/stylesheets/contact.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Roboto&display=swap" rel="stylesheet" />
</head>
<%- include('../views/partials/header.ejs') %>

<div class="contact">
  <h2 class="contact-header">Contact Us</h2>
  <div class="contact-header__elements">
    <div class="contact-header__elements--1">
      <h4>Visit Us</h4>
      <p>Street Address</p>
      <p>City</p>
      <p>ContactNo</p>
    </div>
    <div class="contact-header__elements--2">
      <h4>Opening Hours</h4>
      <p>Street Address</p>
      <p>City</p>
      <p>ContactNo</p>
    </div>
    <div class="contact-header__elements--3">
      <h4>Customer Service</h4>
      <p>Street Address</p>
      <p>City</p>
      <p>ContactNo</p>
    </div>
  </div>
</div>
