<head>
  <link rel="stylesheet" href="/stylesheets/contact.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Roboto&display=swap" rel="stylesheet" />
</head>
<%- include('../views/partials/header.ejs') %>

<div class="contact">
  <h2 class="contact-header">Contact Us</h2>
  <div class="contact-header__elements">
    <div class="contact-header__elements--1">
      <h4>Visit Us</h4>
      <p>Street Address</p>
      <p>City</p>
      <p>ContactNo</p>
    </div>
    <div class="contact-header__elements--2">
      <h4>Opening Hours</h4>
      <p>Street Address</p>
      <p>City</p>
      <p>ContactNo</p>
    </div>
    <div class="contact-header__elements--3">
      <h4>Customer Service</h4>
      <p>Street Address</p>
      <p>City</p>
      <p>ContactNo</p>
    </div>
  </div>
</div>
<div class="contact-form__header">FOR ANY QUESTIONS, PLEASE SEND US A MESSAGE</div>
<div class="contact-form">
  <form action="">
    <div>
      <input class="contact-form__input" type="text" name="username" id="username" placeholder="Name" />
      <input class="contact-form__input" type="text" name="email" id="email" placeholder="Email" />
    </div>
    <div>
      <input class="contact-form__input contact-form__input--subject" type="text" name="subject" id="subject" placeholder="Subject" />
    </div>
    <div>
      <input class="contact-form__input contact-form__input--message" type="text" name="message" id="message" placeholder="Message" />
    </div>
    <div class="contact-form__button">
      <button class="contact-form__button--style mb-1">Submit</button>
    </div>
  </form>
</div>

<%- include('../views/partials/footer.ejs') %>
