<head>
  <link rel="stylesheet" href="/stylesheets/shop.css" />
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Roboto&display=swap" rel="stylesheet" />
</head>
<%- include('../views/partials/header.ejs') %>
<div class="filter-tab">
  <h3 class="filter-tab__header">Filter By</h3>
  <div class="border"></div>
  <div><button id="filterButton" class="filter-tab__category">Category</button></div>
  <div class="filter-list active">
    <div><a href="/shop">All</a></div>
    <div><a href="/shop?item=Shirt">Shirt</a></div>
    <div><a href="/shop?item=Pants">Pants</a></div>
    <div><a href="/shop?item=Jacket">Jacket</a></div>
  </div>
  <div class="border"></div>
</div>
<script src="/javascript/shop.js"></script>

<% for(product of products){%> <%- include('../views/partials/productcard.ejs') %> <% } %> <%- include('../views/partials/footer.ejs') %>
