.header {
  border-bottom: #00303f 0.2em solid;
  padding-bottom: 1em;
}
.ad__banner {
  background-color: #2e2e2e;
  text-align: center;
  color: white;
}
.heading {
  font-family: 'Bodoni Moda', serif;
  text-align: center;
}
.navbar__elements {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  background-color: #f5f4f4;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav__links {
  padding-right: 5em;
  text-decoration: none;
  color: black;
}
